/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.846;
}

h1,h2,h3,h4,h5,h6 {
    color: #8CA2AD !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
}
